# lab-data_cleaning

#### 1. Import pandas library

In [2]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

* __Engine__:
"The Engine is the starting point for any SQLAlchemy application. It’s “home base” for the actual database and its DBAPI, delivered to the SQLAlchemy application through a connection pool and a Dialect, which describes how to talk to a specific kind of database/DBAPI combination".
https://docs.sqlalchemy.org/en/13/core/engines.html

In [3]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats)

### Let's start understanding what is a driver and a dialect:

Roughly speaking:

__Driver__:  software for accessing a database such as mysql, sqlite, postgre, etc.

__Dialect__: a protocol for accessing the database like pymysql, pymssql, MySQLdb.
https://wiki.python.org.br/BancosDeDadosSql

Warning: MySQLdb is not supported by python3? https://docs.djangoproject.com/en/1.11/ref/databases/#mysql-db-api-drivers
https://stackoverflow.com/questions/14164183/python-3-and-mysql-through-sqlalchemy

#### We can import mysql datasets as well as other types of datasets
* Download the chinook.db from this [website](http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip).

In [27]:
driver = 'mysql'
dialect = 'pymysql'

In [28]:
db_user = 'guest'
db_pw = 'relational'
db_host = 'relational.fit.cvut.cz'
db_port = '3306'
database = 'stats'

In [29]:
mysql_mask = '{0}+{1}://{2}:{3}@{4}:{5}/{6}'

In [30]:
mysql_info = mysql_mask.format(
    driver,
    dialect,
    db_user, 
    db_pw, 
    db_host, 
    db_port, 
    database)

In [31]:
print(mysql_info)

mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats

In [32]:
mysql_engine = create_engine(mysql_info)

In [33]:
mysql_conn = mysql_engine.connect()

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\marim\Anaconda3\lib\site-packages\pymysql\connections.py", line 691, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "C:\Users\marim\Anaconda3\lib\socket.py", line 589, in readinto
    return self._sock.recv_into(b)
TimeoutError: [WinError 10060] Uma tentativa de conexão falhou porque o componente conectado não respondeu
corretamente após um período de tempo ou a conexão estabelecida falhou
porque o host conectado não respondeu

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\marim\Anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 680, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\marim\Anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 867, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\marim\Anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\base.py", line 2241, in do_rollback
    dbapi_connection.rollback()
  File "C:\Users\marim\Anaconda3\lib\site-packages\pymysql\connections.py", line 430, in rollback
    self._read_ok_packet()
  File "C:\Users\marim\Anaconda3\lib\site-packages\pymysql\connections.py", line 394, in _read_ok_packet
    pkt = self._read_packet()
  File "C:\Users\marim\Anaconda3\lib\site-packages\pymysql\connections.py", line 657, in _read_packet
    packet_header = self._read_bytes(4)
  File "C:\Users\marim\Anaconda3\lib\site-packages\pymysql\connections.py", line 699, in _read_bytes
    "Lost connection to MySQL server during query (%s)" % (e,))
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query ([WinError 10060] Uma tentativa de conexão falhou porque o componente conectado não respondeu\r\ncorretamente após um período de tempo ou a conexão estabelecida falhou\r\nporque o host conectado não respondeu)')

In [34]:
print(mysql_engine.table_names())

['badges', 'comments', 'postHistory', 'postLinks', 'posts', 'tags', 'users', 'votes']

#### 4. Import the users table

In [35]:
status_user = 'SELECT * FROM stats.users'

In [36]:
user = pd.read_sql_query(status_user, mysql_engine)

####  Any error?

Mainly SQLAlchemy errors:

* __Programming-time errors__: raised as a result of functions or methods being called with incorrect arguments, or from other configuration-oriented methods such as mapper configurations that can’t be resolved -- is typically immediate and deterministic. 
---
* __Runtime error__: represents a failure that occurs as a program runs in response to some condition that occurs arbitrarily, such as database connections being exhausted or some data-related issue occurring -- more likely to be seen in the logs of a running application as the program encounters these states in response to load and data being encountered.:


Source: https://docs.sqlalchemy.org/en/13/errors.html#error-e3q8)

#### If you reached this section you have already imported the dataset correctly, right? 

* So let's check how the data was imported

In [37]:
user.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [38]:
user.shape

(40325, 14)

In [39]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
Id                 40325 non-null int64
Reputation         40325 non-null int64
CreationDate       40325 non-null datetime64[ns]
DisplayName        40325 non-null object
LastAccessDate     40325 non-null datetime64[ns]
WebsiteUrl         8121 non-null object
Location           11691 non-null object
AboutMe            9379 non-null object
Views              40325 non-null int64
UpVotes            40325 non-null int64
DownVotes          40325 non-null int64
AccountId          40325 non-null int64
Age                8318 non-null float64
ProfileImageUrl    16479 non-null object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

#### 5. Rename Id column to userId

In [40]:
user = user.rename(columns={'Id column':'userId',})

#### 6. Import the posts table.

In [41]:
status_posts = 'SELECT * FROM stats.posts'

In [42]:
posts = pd.read_sql_query(status_posts, mysql_engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [43]:
posts.columns = rename_cols(posts, 'Id','postId')
posts.columns = rename_cols(posts, 'OwnerUserId','userId')

NameError: name 'rename_cols' is not defined

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [ ]:
users_cols = ['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
posts_cols = ['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']

In [ ]:
users_new = user[users_cols]
posts_new = posts[posts_cols]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [ ]:
merged = users_new.merge(posts_new)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [ ]:
merged.isnull().sum().sort_values(ascending=False)

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
valid_rows = merged.ViewCount.notnull().sum()

In [ ]:
method1 = merged.dropna()

method2 = merged.drop('ViewCount', axis=1)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
method1.info()

method1_clean = method1.astype('int')

method1_clean['userId'] = method1.userId.astype('category')

method1_clean.info()

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.