# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [1]:
# import libraries here

import pandas as pd

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [2]:
# your answer here

temp = pd.read_csv("Temp_States.csv")

#### Print `temp`

In [3]:
print(temp)

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [4]:
# your answer here

temp.dtypes

City            object
State           object
Temperature    float64
dtype: object

#### Select the rows where state is New York

In [5]:
# your answer here

tempny = temp.loc[temp.State == "New York"]

print(tempny)

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average of the temperature of cities in New York?

In [6]:
# your answer here

tempny.mean()

Temperature    10.740741
dtype: float64

#### We want to know cities and states with Temperature above 15 degress Celcius

In [7]:
# your answer here

above15 = temp.loc[temp.Temperature > 15]

print(above15)

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [8]:
# your answer here

citiesabove15 = temp["City"].loc[temp.Temperature > 15]

print(citiesabove15)

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [10]:
# your answer here


citiesab15be20 = temp["City"].loc[(temp.Temperature > 15) & (temp.Temperature < 20)]

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
# your answer here

temp.mean()

In [ ]:
temp.std()

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [12]:
# your answer here

employee = pd.read_csv("employee.csv")

employee.head()

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55

#### Explore the data types of the Temp dataframe. Comment your results

In [13]:
# your answer here


employee.dtypes

Name          object
Department    object
Education     object
Gender        object
Title         object
Years          int64
Salary         int64
dtype: object

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [14]:
# your answer here

employee.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0000028210590CF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000282108987F0>]],
      dtype=object)

#### What's the average salary in this company?

In [15]:
# your answer here

mean = employee["Salary"].mean()

#### What's the highest salary?

In [16]:
# your answer here

employee["Salary"].max()

70

#### What's the lowest salary?

In [17]:
# your answer here

employee["Salary"].min()

30

#### Who are the employees with the lowest salary?

In [18]:
# your answer here

#employee.rename(columns={"Salary ": "Salary"})

lowestsalary = employee["Name"].loc[employee.Salary < mean]

print(lowestsalary)

0     Jose
1    Maria
2    David
3    Sonia
Name: Name, dtype: object

#### Could you give all the information about an employee called David?

In [19]:
# your answer here

David = employee.loc[2]

print(David)

Name            David
Department         HR
Education      Master
Gender              M
Title         analyst
Years               2
Salary             30
Name: 2, dtype: object

#### Could you give only David's salary?

In [20]:
# your answer here

David_salary = employee.loc[employee.Salary[2]]

KeyError: 30

#### Print all the rows where job title is associate

In [ ]:
# your answer here

associate = employee.loc[employee.Title == "associate"]

print(associate)

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [21]:
# your answer here- 1 method

employee.head(3)

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

In [ ]:
# your answer here- 2nd method

employee[0:3]

#### Find the employees who's title is associate and the salary above 55?

In [22]:
# your answer here

associate1 = employee.loc[(employee.Title == "associate") & (employee.Salary > 55)]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
# your answer here

years1 = employee.loc[employee.Years]


mean2 = years1.mean()

print(years1)

print(mean2)

####  What is the average Salary per title?

In [ ]:
# your answer here

meansalary_t = employee.loc[employee.Title]

meansalary_t.mean()

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [ ]:
# draw boxplot here

import matplotlib
%matplotlib inline

employee.boxplot()

In [ ]:
# print first quartile here

employee.quantile(0.25)

In [ ]:
# print third quartile here

employee.quantile(0.75)

#### Is the mean salary per gender different?

In [ ]:
# your answer here

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
employee["Salary"].mean()

In [ ]:
# your answer here

employee["Years"].mean()

In [ ]:
maxsal = employee["Salary"].max()

In [ ]:
employee["Years"].max()

In [ ]:
minsal = employee["Salary"].min()

In [ ]:
employee["Years"].min()

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [ ]:
# your answer here

difference = maxsal - minsal

print(difference)

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
# your answer here

orders = pd.read_csv("Orders.csv")

orders.head()

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
# your answer here

orders.dtypes

In [ ]:
# your answer here

orders.index

####  What is the average Purchase Price?

In [ ]:
# your answer here

orders["UnitPrice"].mean()

#### What were the highest and lowest purchase prices?

In [ ]:
# your answer here

orders["UnitPrice"].max()

In [ ]:
# your answer here

orders["UnitPrice"].min()

#### Select all the customers we have in Spain

In [ ]:
# your answer here

orders_spain = orders.loc[orders.Country == "Spain"]

print(orders_spain)

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
# your answer here

orders_spain.value_counts()

#### Select all the customers who have bought more than 50 items ?

In [ ]:
# your answer here

#### Select orders from Spain that are above 50 items

In [ ]:
# your answer here

#### Select all free orders

In [ ]:
# your answer here

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
# your answer here

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
# your answer here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your answer here

#### Select all orders made in the month of August

In [ ]:
# your answer here

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
# your answer here

#### What's the  average amount of money spent by country

In [ ]:
# your answer here

#### What's the most expensive item?

In [ ]:
# your answer here

#### What was the average amount spent per year ?

In [ ]:
# your answer here